<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" >
	<Bundle Name="Palette Agent" Version="1.1" Manufacturer="Palette Software" UpgradeCode="ab39a1ce-7e04-42c6-8abe-d30f22fa3eda" IconSourceFile="images\palette.ico" SplashScreenSourceFile="images\493x312.bmp" AboutUrl="http://www.palette-software.com" >
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
      <!--The below launch argument puts the log file in c:/users/[username]/AppData/Local/Temp/*PaletteInstallerMSI.log-->
      <bal:WixStandardBootstrapperApplication LicenseUrl="http://kb.palette-software.com/palette-end-user-license-agreement" LogoFile="images\62x58.bmp" SuppressOptionsUI="yes" ShowVersion="yes" />
    </BootstrapperApplicationRef>
    <WixVariable Id="WixStdbaThemeXml" Value="HyperlinkTheme.xml" />
    <WixVariable Id="WixStdbaThemeWxl" Value="HyperlinkTheme.wxl" />

    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <!--<MsiPackage Id="DotNet35" SourceFile="..\dotnet35\NETCFSetupv35.msi" 
                  InstallCondition="NOT Installed AND NOT NETFRAMEWORK35"
                  ForcePerMachine="yes"/>-->
      <!--<PackageGroupRef Id="Netfx35" />-->
      <MsiPackage Id="PaletteInstallerMSI" SourceFile="..\PaletteInstallerMSI\bin\$(var.Configuration)\PaletteInstaller.msi" DisplayInternalUI="yes" DisplayName="Palette Setup" Visible="yes" LogPathVariable="c:/temp/install.log" Permanent="no">
        <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1" />
      </MsiPackage>
    </Chain>
    
  </Bundle>
  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v3.5" Value="Version" Variable="Netfx35Version" />
    <PackageGroup Id="Netfx35">
      <ExePackage Id="Netfx35"
        Cache="no"
        Compressed="yes"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Name="NETCFSetupv35.msi"
        SourceFile="..\dotnet35\NETCFSetupv35.msi"
        InstallCommand="/q /norestart /lang:ENU"
        RepairCommand="/q /norestart /lang:ENU"
        UninstallCommand="/q /norestart /lang:ENU"
        InstallCondition="NOT Netfx35Version OR (Netfx35Version &lt; v3.5.30729.1)"
        DetectCondition="Netfx35Version AND (Netfx35Version &gt;= v3.5.30729.1)">
        <ExitCode Value ="3010" Behavior="forceReboot" />
      </ExePackage>
    </PackageGroup>
  </Fragment>  

</Wix>