[DEFAULT]
# archive=false
uuid=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
license-key=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
# install-dir=
# hostname=primary

[controller]
# host=localhost
# port=8888
# ssl=True

[archive]
# listen-port=8889

[logger]
# location=
# maxsize=10MB

