<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="d03dd71e-a3c6-4950-b35c-3e518908f9d6" Name="Palette Agent" Language="1033" Version="1.1" Manufacturer="Palette Software" UpgradeCode="ab39a1ce-7e04-42c6-8abe-d30f22fa3eda">
    
    <Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="palette.cab" EmbedCab="yes" />
    <PropertyRef Id="NETFRAMEWORK35"/>
    <Condition Message="This application requires .NET Framework 3.5 features. Please install the .NET Framework or enable 3.5 features then run this installer again.  See https://technet.microsoft.com/en-us/library/dn482071.aspx for additional details.">
      <![CDATA[Installed OR NETFRAMEWORK35]]></Condition>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="DATALOCATION" Value="C:\"/>
    <Condition Message="This application requires Admin privileges to install and User Account Control set to minimum.  Please check these, restart the server and then run the installer again.">
      <![CDATA[Installed OR Privileged]]></Condition>
    <WixVariable Id="WixUIBannerBmp" Value="images\493x58.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="images\493x312.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <Icon Id="palette.exe" SourceFile="images\palette.ico"/>
    <Property Id="ARPPRODUCTICON" Value="palette.exe" />
    <Property Id="ALLUSERS" Value="1" />
    <UIRef Id="WixUI_InstallDir_Palette" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION">
          <Directory Id="Palette" Name="Palette">
            <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
            <Component Id="Base" Guid="f8e03674-4769-4971-8180-75e968e3064f">
              <!-- TODO: Insert files, registry keys, and other resources here. -->
              <File Id="PaletteConsoleAgent.exe" Source="..\ConsoleAgent\bin\$(var.Configuration)\PaletteConsoleAgent.exe"></File>
              <File Id="fastJSON.dll" Source="..\ConsoleAgent\bin\$(var.Configuration)\fastJSON.dll"></File>
              <File Id="log4net.dll" Source="..\ConsoleAgent\bin\$(var.Configuration)\log4net.dll"></File>
              <File Id="Interop.NetFwTypeLib.dll" Source="..\ConsoleAgent\bin\$(var.Configuration)\Interop.NetFwTypeLib.dll"></File>
              <File Id="AWSSDK.dll" Source="..\ps3\bin\$(var.Configuration)\AWSSDK.dll"></File>
              <File Id="phttp.exe" Source="..\phttp\bin\$(var.Configuration)\phttp.exe"></File>
              <File Id="prun.exe" Source="..\prun\bin\$(var.Configuration)\prun.exe"></File>
              <File Id="pinfo.exe" Source="..\pinfo\bin\$(var.Configuration)\pinfo.exe"></File>
              <File Id="pgcs.exe" Source="..\pgcs\bin\$(var.Configuration)\pgcs.exe"></File>
              <File Id="ps3.exe" Source="..\ps3\bin\$(var.Configuration)\ps3.exe"></File>
              <File Id="pok.exe" Source="..\pok\bin\$(var.Configuration)\pok.exe"></File>
              <File Id="ptwbx.exe" Source="..\ptwbx\bin\$(var.Configuration)\ptwbx.exe"></File>
              <File Id="InstallerHelper.exe" Source="..\InstallerHelper\bin\$(var.Configuration)\InstallerHelper.exe"></File>
            </Component>
            <Component Id="Service" Guid="a2bcbb04-d079-4423-bfa3-66ce4321f266">
              <File Id="PaletteServiceAgent.exe" Source="..\ServiceAgent\bin\$(var.Configuration)\PaletteServiceAgent.exe"
                    DiskId='1' KeyPath='yes' />
              <ServiceInstall Id="Palette" Type="ownProcess" Name="palette" DisplayName="Palette Agent"
                              Description="Service for Palette Agent" Start="auto" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" ErrorControl="normal">
              </ServiceInstall>
              <!--ServiceControl Id="Palette" Start="install" Stop="both" Remove="both" Name="Palette" Wait="no" /-->
              <ServiceControl Id="Palette" Stop="both" Start="install" Remove="uninstall" Name="palette" Wait="no" />
              <ServiceControl Id="PaletteArchive" Stop="both" Remove="uninstall" Name="PaletteArchiveServer" Wait="no" />
              <ServiceControl Id="PaletteMaint" Stop="both" Remove="uninstall" Name="PaletteMaintenanceWebserver" Wait="no" />
            </Component>
            <Directory Id="cgibin" Name="cgi-bin">
              <Component Id="CgiBinFolder" Guid="0a408718-b9ab-4fa7-aa01-7dd00a64527d">
                <CreateFolder />
                <File Id="pCGI.exe" Source="..\pCGI\bin\$(var.Configuration)\pCGI.exe" />
                <RemoveFile Id="RemoveCgiBinFolder" Name="*.*" On="uninstall" />
              </Component>
            </Directory>
            <Directory Id="conf" Name="conf">
              <Component Id="ConfigFolder" Guid="a2bcbb04-d079-4423-bfa3-66ce4321f269">
                <CreateFolder />
                <File Id="archive.crt" Source="..\conf\archive.crt" />
                <File Id="archive.key" Source="..\conf\archive.key" />
                <RemoveFile Id="RemoveConfigFolder" Name="*.*" On="uninstall" />
              </Component>
              <Directory Id="archive" Name="archive">
                <Component Id="ArchiveFolder" Guid="4b93cbc3-a338-44a5-ab41-e4d6a8027894">
                  <CreateFolder />
                  <File Id="htpasswd" Source="..\conf\archive\htpasswd" />
                  <File Id="httpd.conf" Source="..\conf\archive\httpd.conf" />
                  <File Id="README" Source="..\conf\archive\README" />
                  <File Id="server.crt" Source="..\conf\archive\server.crt" />
                  <File Id="server.key" Source="..\conf\archive\server.key" />
                  <RemoveFile Id="RemoveArchiveFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="maint" Name="maint">
              <Component Id="MaintFolder" Guid="040d8e73-2cd1-4884-88c3-8a24436fcbc1">
                <CreateFolder />
                <!-- TODO: Unfortunately does not delete files recursively. -->
                <RemoveFile Id="RemoveMaintFolder" Name="*.*" On="uninstall" />
              </Component>
              <Directory Id="www" Name="www">
                <Component Id="WWWFolder" Guid="aa62f593-f69f-4552-ab20-4d6228435e9c">
                  <CreateFolder />
                  <File Id="index.html" Source="..\..\maint\www\index.html" />
                  <File Id="style.css" Source="..\..\maint\www\style.css" />
                  <File Id="favicon.ico" Source="..\..\maint\www\favicon.ico" />
                  <File Id="favicon60.ico" Source="..\..\maint\www\favicon-60.png" />
                  <File Id="favicon76.ico" Source="..\..\maint\www\favicon-76.png" />
                  <File Id="favicon120.ico" Source="..\..\maint\www\favicon-120.png" />
                  <File Id="favicon152.ico" Source="..\..\maint\www\favicon-152.png" />
                  <RemoveFile Id="RemoveWWWFolder" Name="*.*" On="uninstall" />
                </Component>
                <Directory Id="image" Name="image">
                  <Component Id="ImageFolder" Guid="43ca9fce-6a82-455b-8432-df741fcb1f15">
                    <CreateFolder />
                    <File Id="palette_logo.png" Source="..\..\maint\www\image\palette_logo.png" />
                  </Component>
                </Directory>
                <Directory Id="fonts" Name="fonts">
                  <Component Id="FontsFolder" Guid="b0b7f691-9ff2-455d-a969-2a0a832e931b">
                    <CreateFolder />
                  </Component>
                  <Directory Id="webfonts" Name="webfonts">
                    <Component Id="WebFontsFolder" Guid="06cbede7-e85d-439e-8510-2c9af73d03ff">
                      <CreateFolder />
                      <File Id="_2B4065_8_0.eot" Source="..\..\maint\www\fonts\webfonts\2B4065_8_0.eot" />
                      <File Id="_2B4065_8_0.ttf" Source="..\..\maint\www\fonts\webfonts\2B4065_8_0.ttf" />
                      <File Id="_2B4065_8_0.woff" Source="..\..\maint\www\fonts\webfonts\2B4065_8_0.woff" />
                      <File Id="_2B4065_9_0.eot" Source="..\..\maint\www\fonts\webfonts\2B4065_9_0.eot" />
                      <File Id="_2B4065_9_0.ttf" Source="..\..\maint\www\fonts\webfonts\2B4065_9_0.ttf" />
                      <File Id="_2B4065_9_0.woff" Source="..\..\maint\www\fonts\webfonts\2B4065_9_0.woff" />
                      <File Id="_2B4065_A_0.eot" Source="..\..\maint\www\fonts\webfonts\2B4065_A_0.eot" />
                      <File Id="_2B4065_A_0.ttf" Source="..\..\maint\www\fonts\webfonts\2B4065_A_0.ttf" />
                      <File Id="_2B4065_A_0.woff" Source="..\..\maint\www\fonts\webfonts\2B4065_A_0.woff" />
                    </Component>
                  </Directory>
                </Directory>
              </Directory>
              <Directory Id="MaintConf" Name="conf">
                <Component Id="ConfFolder" Guid="6adfeb8f-8135-4a2c-98cb-3eb162e315cd">
                  <CreateFolder />
                  <File Id="httpd.conf2" Source="..\..\maint\conf\httpd.conf" />
                  <RemoveFile Id="RemoveConfFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="Upgrade" Name="upgrade">
              <Component Id="UpgradeFolder" Guid="ddd42a57-83c2-443c-aad6-1ee8d5baf566">
                <CreateFolder />
              </Component>
            </Directory>
            <Directory Id="apache2" Name="apache2">
              <Component Id="Apache2Folder" Guid="a6db6273-4f31-4c9b-8a8b-d3f688853231">
                <CreateFolder />
              </Component>
              <Directory Id="bin" Name="bin">
                <Component Id="Apache2BinFolder" Guid="d8bba363-46de-4a58-bf68-06735f310171">
                  <CreateFolder />
                  <File Id="ab.exe" Source="..\..\maint\apache2\bin\ab.exe" />
                  <File Id="abs.exe" Source="..\..\maint\apache2\bin\abs.exe" />
                  <File Id="ApacheMonitor.exe" Source="..\..\maint\apache2\bin\ApacheMonitor.exe" />
                  <File Id="apr_crypto_openssl_1.dll" Source="..\..\maint\apache2\bin\apr_crypto_openssl-1.dll" />
                  <File Id="apr_dbd_mysql_1.dll" Source="..\..\maint\apache2\bin\apr_dbd_mysql-1.dll" />
                  <File Id="apr_dbd_odbc_1.dll" Source="..\..\maint\apache2\bin\apr_dbd_odbc-1.dll" />
                  <File Id="apr_ldap_1.dll" Source="..\..\maint\apache2\bin\apr_ldap-1.dll" />
                  <File Id="dbmmanage.pl" Source="..\..\maint\apache2\bin\dbmmanage.pl" />
                  <File Id="htcacheclean.exe" Source="..\..\maint\apache2\bin\htcacheclean.exe" />
                  <File Id="htdbm.exe" Source="..\..\maint\apache2\bin\htdbm.exe" />
                  <File Id="htdigest.exe" Source="..\..\maint\apache2\bin\htdigest.exe" />
                  <File Id="htpasswd.exe" Source="..\..\maint\apache2\bin\htpasswd.exe" />
                  <File Id="httpd.exe" Source="..\..\maint\apache2\bin\httpd.exe" />
                  <File Id="httxt2dbm.exe" Source="..\..\maint\apache2\bin\httxt2dbm.exe" />
                  <File Id="libapr_1.dll" Source="..\..\maint\apache2\bin\libapr-1.dll" />
                  <File Id="libapriconv_1.dll" Source="..\..\maint\apache2\bin\libapriconv-1.dll" />
                  <File Id="libaprutil_1.dll" Source="..\..\maint\apache2\bin\libaprutil-1.dll" />
                  <File Id="libeay32.dll" Source="..\..\maint\apache2\bin\libeay32.dll" />
                  <File Id="libhttpd.dll" Source="..\..\maint\apache2\bin\libhttpd.dll" />
                  <File Id="libxml2.dll" Source="..\..\maint\apache2\bin\libxml2.dll" />
                  <File Id="logresolve.exe" Source="..\..\maint\apache2\bin\logresolve.exe" />
                  <File Id="lua51.dll" Source="..\..\maint\apache2\bin\lua51.dll" />
                  <File Id="openssl.exe" Source="..\..\maint\apache2\bin\openssl.exe" />
                  <File Id="pcre.dll" Source="..\..\maint\apache2\bin\pcre.dll" />
                  <File Id="rotatelogs.exe" Source="..\..\maint\apache2\bin\rotatelogs.exe" />
                  <File Id="ssleay32.dll" Source="..\..\maint\apache2\bin\ssleay32.dll" />
                  <File Id="wintty.exe" Source="..\..\maint\apache2\bin\wintty.exe" />
                  <File Id="zlib1.dll" Source="..\..\maint\apache2\bin\zlib1.dll" />
                  <RemoveFile Id="RemoveApache2BinFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
              <Directory Id="lib" Name="lib">
                <Component Id="Apache2LibFolder" Guid="56d446ad-9ead-48a5-925d-f51939154a0c">
                  <CreateFolder />
                  <File Id="apr_1.lib" Source="..\..\maint\apache2\lib\apr-1.lib" />
                  <File Id="aprutil_1.lib" Source="..\..\maint\apache2\lib\aprutil-1.lib" />
                  <File Id="libapr_1.exp" Source="..\..\maint\apache2\lib\libapr-1.exp" />
                  <File Id="libapr_1.lib" Source="..\..\maint\apache2\lib\libapr-1.lib" />
                  <File Id="libapriconv_1.exp" Source="..\..\maint\apache2\lib\libapriconv-1.exp" />
                  <File Id="libapriconv_1.lib" Source="..\..\maint\apache2\lib\libapriconv-1.lib" />
                  <File Id="libaprutil_1.exp" Source="..\..\maint\apache2\lib\libaprutil-1.exp" />
                  <File Id="libaprutil_1.lib" Source="..\..\maint\apache2\lib\libaprutil-1.lib" />
                  <File Id="libhttpd.exp" Source="..\..\maint\apache2\lib\libhttpd.exp" />
                  <File Id="libhttpd.lib" Source="..\..\maint\apache2\lib\libhttpd.lib" />
                  <File Id="mod_dav.exp" Source="..\..\maint\apache2\lib\mod_dav.exp" />
                  <File Id="mod_dav.lib" Source="..\..\maint\apache2\lib\mod_dav.lib" />
                  <File Id="xml.lib" Source="..\..\maint\apache2\lib\xml.lib" />
                  <RemoveFile Id="RemoveApache2LibFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
              <Directory Id="conf2" Name="conf">
                <Component Id="Apache2ConfFolder" Guid="48199657-5807-4214-b773-bf60895cd88c">
                  <CreateFolder />
                  <File Id="mime.types" Source="..\..\maint\apache2\conf\mime.types" />
                  <RemoveFile Id="RemoveApache2ConfFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
              <Directory Id="modules" Name="modules">
                <Component Id="Apache2ModulesFolder" Guid="3cdefa95-cd12-4dfc-a6d2-778558271dd6">
                  <CreateFolder />
                  <File Id="mod_access_compat.so" Source="..\..\maint\apache2\modules\mod_access_compat.so" />
                  <File Id="mod_actions.so" Source="..\..\maint\apache2\modules\mod_actions.so" />
                  <File Id="mod_alias.so" Source="..\..\maint\apache2\modules\mod_alias.so" />
                  <File Id="mod_allowmethods.so" Source="..\..\maint\apache2\modules\mod_allowmethods.so" />
                  <File Id="mod_asis.so" Source="..\..\maint\apache2\modules\mod_asis.so" />
                  <File Id="mod_auth_basic.so" Source="..\..\maint\apache2\modules\mod_auth_basic.so" />
                  <File Id="mod_auth_digest.so" Source="..\..\maint\apache2\modules\mod_auth_digest.so" />
                  <File Id="mod_auth_form.so" Source="..\..\maint\apache2\modules\mod_auth_form.so" />
                  <File Id="mod_authn_anon.so" Source="..\..\maint\apache2\modules\mod_authn_anon.so" />
                  <File Id="mod_authn_core.so" Source="..\..\maint\apache2\modules\mod_authn_core.so" />
                  <File Id="mod_authn_dbd.so" Source="..\..\maint\apache2\modules\mod_authn_dbd.so" />
                  <File Id="mod_authn_dbm.so" Source="..\..\maint\apache2\modules\mod_authn_dbm.so" />
                  <File Id="mod_authn_file.so" Source="..\..\maint\apache2\modules\mod_authn_file.so" />
                  <File Id="mod_authn_socache.so" Source="..\..\maint\apache2\modules\mod_authn_socache.so" />
                  <File Id="mod_authnz_ldap.so" Source="..\..\maint\apache2\modules\mod_authnz_ldap.so" />
                  <File Id="mod_authz_core.so" Source="..\..\maint\apache2\modules\mod_authz_core.so" />
                  <File Id="mod_authz_dbd.so" Source="..\..\maint\apache2\modules\mod_authz_dbd.so" />
                  <File Id="mod_authz_dbm.so" Source="..\..\maint\apache2\modules\mod_authz_dbm.so" />
                  <File Id="mod_authz_groupfile.so" Source="..\..\maint\apache2\modules\mod_authz_groupfile.so" />
                  <File Id="mod_authz_host.so" Source="..\..\maint\apache2\modules\mod_authz_host.so" />
                  <File Id="mod_authz_owner.so" Source="..\..\maint\apache2\modules\mod_authz_owner.so" />
                  <File Id="mod_authz_user.so" Source="..\..\maint\apache2\modules\mod_authz_user.so" />
                  <File Id="mod_autoindex.so" Source="..\..\maint\apache2\modules\mod_autoindex.so" />
                  <File Id="mod_buffer.so" Source="..\..\maint\apache2\modules\mod_buffer.so" />
                  <File Id="mod_cache.so" Source="..\..\maint\apache2\modules\mod_cache.so" />
                  <File Id="mod_cache_disk.so" Source="..\..\maint\apache2\modules\mod_cache_disk.so" />
                  <File Id="mod_cache_socache.so" Source="..\..\maint\apache2\modules\mod_cache_socache.so" />
                  <File Id="mod_cern_meta.so" Source="..\..\maint\apache2\modules\mod_cern_meta.so" />
                  <File Id="mod_cgi.so" Source="..\..\maint\apache2\modules\mod_cgi.so" />
                  <File Id="mod_charset_lite.so" Source="..\..\maint\apache2\modules\mod_charset_lite.so" />
                  <File Id="mod_data.so" Source="..\..\maint\apache2\modules\mod_data.so" />
                  <File Id="mod_dav.so" Source="..\..\maint\apache2\modules\mod_dav.so" />
                  <File Id="mod_dav_fs.so" Source="..\..\maint\apache2\modules\mod_dav_fs.so" />
                  <File Id="mod_dav_lock.so" Source="..\..\maint\apache2\modules\mod_dav_lock.so" />
                  <File Id="mod_dbd.so" Source="..\..\maint\apache2\modules\mod_dbd.so" />
                  <File Id="mod_deflate.so" Source="..\..\maint\apache2\modules\mod_deflate.so" />
                  <File Id="mod_dir.so" Source="..\..\maint\apache2\modules\mod_dir.so" />
                  <File Id="mod_dumpio.so" Source="..\..\maint\apache2\modules\mod_dumpio.so" />
                  <File Id="mod_env.so" Source="..\..\maint\apache2\modules\mod_env.so" />
                  <File Id="mod_expires.so" Source="..\..\maint\apache2\modules\mod_expires.so" />
                  <File Id="mod_ext_filter.so" Source="..\..\maint\apache2\modules\mod_ext_filter.so" />
                  <File Id="mod_file_cache.so" Source="..\..\maint\apache2\modules\mod_file_cache.so" />
                  <File Id="mod_filter.so" Source="..\..\maint\apache2\modules\mod_filter.so" />
                  <File Id="mod_headers.so" Source="..\..\maint\apache2\modules\mod_headers.so" />
                  <File Id="mod_heartbeat.so" Source="..\..\maint\apache2\modules\mod_heartbeat.so" />
                  <File Id="mod_heartmonitor.so" Source="..\..\maint\apache2\modules\mod_heartmonitor.so" />
                  <File Id="mod_ident.so" Source="..\..\maint\apache2\modules\mod_ident.so" />
                  <File Id="mod_imagemap.so" Source="..\..\maint\apache2\modules\mod_imagemap.so" />
                  <File Id="mod_include.so" Source="..\..\maint\apache2\modules\mod_include.so" />
                  <File Id="mod_info.so" Source="..\..\maint\apache2\modules\mod_info.so" />
                  <File Id="mod_isapi.so" Source="..\..\maint\apache2\modules\mod_isapi.so" />
                  <File Id="mod_lbmethod_bybusyness.so" Source="..\..\maint\apache2\modules\mod_lbmethod_bybusyness.so" />
                  <File Id="mod_lbmethod_byrequests.so" Source="..\..\maint\apache2\modules\mod_lbmethod_byrequests.so" />
                  <File Id="mod_lbmethod_bytraffic.so" Source="..\..\maint\apache2\modules\mod_lbmethod_bytraffic.so" />
                  <File Id="mod_lbmethod_heartbeat.so" Source="..\..\maint\apache2\modules\mod_lbmethod_heartbeat.so" />
                  <File Id="mod_ldap.so" Source="..\..\maint\apache2\modules\mod_ldap.so" />
                  <File Id="mod_log_config.so" Source="..\..\maint\apache2\modules\mod_log_config.so" />
                  <File Id="mod_log_debug.so" Source="..\..\maint\apache2\modules\mod_log_debug.so" />
                  <File Id="mod_log_forensic.so" Source="..\..\maint\apache2\modules\mod_log_forensic.so" />
                  <File Id="mod_logio.so" Source="..\..\maint\apache2\modules\mod_logio.so" />
                  <File Id="mod_lua.so" Source="..\..\maint\apache2\modules\mod_lua.so" />
                  <File Id="mod_macro.so" Source="..\..\maint\apache2\modules\mod_macro.so" />
                  <File Id="mod_mime.so" Source="..\..\maint\apache2\modules\mod_mime.so" />
                  <File Id="mod_mime_magic.so" Source="..\..\maint\apache2\modules\mod_mime_magic.so" />
                  <File Id="mod_negotiation.so" Source="..\..\maint\apache2\modules\mod_negotiation.so" />
                  <File Id="mod_proxy.so" Source="..\..\maint\apache2\modules\mod_proxy.so" />
                  <File Id="mod_proxy_ajp.so" Source="..\..\maint\apache2\modules\mod_proxy_ajp.so" />
                  <File Id="mod_proxy_balancer.so" Source="..\..\maint\apache2\modules\mod_proxy_balancer.so" />
                  <File Id="mod_proxy_connect.so" Source="..\..\maint\apache2\modules\mod_proxy_connect.so" />
                  <File Id="mod_proxy_express.so" Source="..\..\maint\apache2\modules\mod_proxy_express.so" />
                  <File Id="mod_proxy_fcgi.so" Source="..\..\maint\apache2\modules\mod_proxy_fcgi.so" />
                  <File Id="mod_proxy_ftp.so" Source="..\..\maint\apache2\modules\mod_proxy_ftp.so" />
                  <File Id="mod_proxy_html.so" Source="..\..\maint\apache2\modules\mod_proxy_html.so" />
                  <File Id="mod_proxy_http.so" Source="..\..\maint\apache2\modules\mod_proxy_http.so" />
                  <File Id="mod_proxy_scgi.so" Source="..\..\maint\apache2\modules\mod_proxy_scgi.so" />
                  <File Id="mod_proxy_wstunnel.so" Source="..\..\maint\apache2\modules\mod_proxy_wstunnel.so" />
                  <File Id="mod_ratelimit.so" Source="..\..\maint\apache2\modules\mod_ratelimit.so" />
                  <File Id="mod_reflector.so" Source="..\..\maint\apache2\modules\mod_reflector.so" />
                  <File Id="mod_remoteip.so" Source="..\..\maint\apache2\modules\mod_remoteip.so" />
                  <File Id="mod_reqtimeout.so" Source="..\..\maint\apache2\modules\mod_reqtimeout.so" />
                  <File Id="mod_request.so" Source="..\..\maint\apache2\modules\mod_request.so" />
                  <File Id="mod_rewrite.so" Source="..\..\maint\apache2\modules\mod_rewrite.so" />
                  <File Id="mod_sed.so" Source="..\..\maint\apache2\modules\mod_sed.so" />
                  <File Id="mod_session.so" Source="..\..\maint\apache2\modules\mod_session.so" />
                  <File Id="mod_session_cookie.so" Source="..\..\maint\apache2\modules\mod_session_cookie.so" />
                  <File Id="mod_session_crypto.so" Source="..\..\maint\apache2\modules\mod_session_crypto.so" />
                  <File Id="mod_session_dbd.so" Source="..\..\maint\apache2\modules\mod_session_dbd.so" />
                  <File Id="mod_setenvif.so" Source="..\..\maint\apache2\modules\mod_setenvif.so" />
                  <File Id="mod_slotmem_plain.so" Source="..\..\maint\apache2\modules\mod_slotmem_plain.so" />
                  <File Id="mod_slotmem_shm.so" Source="..\..\maint\apache2\modules\mod_slotmem_shm.so" />
                  <File Id="mod_socache_dbm.so" Source="..\..\maint\apache2\modules\mod_socache_dbm.so" />
                  <File Id="mod_socache_memcache.so" Source="..\..\maint\apache2\modules\mod_socache_memcache.so" />
                  <File Id="mod_socache_shmcb.so" Source="..\..\maint\apache2\modules\mod_socache_shmcb.so" />
                  <File Id="mod_speling.so" Source="..\..\maint\apache2\modules\mod_speling.so" />
                  <File Id="mod_ssl.so" Source="..\..\maint\apache2\modules\mod_ssl.so" />
                  <File Id="mod_status.so" Source="..\..\maint\apache2\modules\mod_status.so" />
                  <File Id="mod_substitute.so" Source="..\..\maint\apache2\modules\mod_substitute.so" />
                  <File Id="mod_unique_id.so" Source="..\..\maint\apache2\modules\mod_unique_id.so" />
                  <File Id="mod_userdir.so" Source="..\..\maint\apache2\modules\mod_userdir.so" />
                  <File Id="mod_usertrack.so" Source="..\..\maint\apache2\modules\mod_usertrack.so" />
                  <File Id="mod_version.so" Source="..\..\maint\apache2\modules\mod_version.so" />
                  <File Id="mod_vhost_alias.so" Source="..\..\maint\apache2\modules\mod_vhost_alias.so" />
                  <File Id="mod_watchdog.so" Source="..\..\maint\apache2\modules\mod_watchdog.so" />
                  <File Id="mod_xml2enc.so" Source="..\..\maint\apache2\modules\mod_xml2enc.so" />
                  <RemoveFile Id="RemoveApache2ModulesFolder" Name="*.*" On="uninstall" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DATALOCATION">
          <Directory Id="logs" Name="logs">
            <Component Id="LogsFolder" Guid="e70781ff-c5b9-47c9-acc7-c83ea3c4b315">
              <CreateFolder />
            </Component>
            <Directory Id="archiveLogs" Name="archive">
              <Component Id="ArchiveLogsFolder" Guid="dc1658b7-1886-467a-8bb0-ac05d098f584">
                <CreateFolder />
              </Component>
            </Directory>
            <Directory Id="maintLogs" Name="maint">
              <Component Id="MaintLogsFolder" Guid="bfd10da7-a4dc-4105-9a57-67a99a028ff4">
                <CreateFolder />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="data" Name="data">
            <Component Id="DataFolder" Guid="52fa459d-03d6-42ea-bba2-c12036d79162">
              <CreateFolder />
            </Component>
          </Directory>
          <Directory Id="archiveData" Name="archive">
            <Component Id="ArchiveDataFolder" Guid="f2574b9d-6df3-4e86-afa3-5563f6117f52">
              <CreateFolder />
            </Component>
          </Directory>
          <Directory Id="maintData" Name="maint">
            <Component Id="MaintDataFolder" Guid="">
              <CreateFolder />
            </Component>
          </Directory>
          <Directory Id="XID" Name="XID">
            <Component Id="XIDFolder" Guid="a2bcbb04-d079-4423-bfa3-66ce4321f270">
              <CreateFolder />
            </Component>
          </Directory>
        </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Palette" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentRef Id="Base" />
      <ComponentRef Id="ArchiveFolder" />
      <ComponentRef Id="CgiBinFolder" />
      <ComponentRef Id="ConfigFolder" />
      <ComponentRef Id="DataFolder" />
      <ComponentRef Id="ArchiveDataFolder" />
      <ComponentRef Id="MaintDataFolder" />
      <ComponentRef Id="XIDFolder" />
      <ComponentRef Id="MaintFolder" />
      <ComponentRef Id="WWWFolder" />
      <ComponentRef Id="ImageFolder"/>
      <ComponentRef Id="FontsFolder"/>
      <ComponentRef Id="WebFontsFolder"/>
      <ComponentRef Id="LogsFolder" />
      <ComponentRef Id="ArchiveLogsFolder" />
      <ComponentRef Id="MaintLogsFolder" />
      <ComponentRef Id="ConfFolder" />
      <ComponentRef Id="UpgradeFolder" />
      <ComponentRef Id="Apache2Folder" />
      <ComponentRef Id="Apache2BinFolder" />
      <ComponentRef Id="Apache2LibFolder" />
      <ComponentRef Id="Apache2ConfFolder" />
      <ComponentRef Id="Apache2ModulesFolder" />
      <!-- This ref should be last to ensure the service isn't started before everything is done. -->
      <ComponentRef Id="Service" />
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>

    <Binary Id="PaletteInstallerCA" SourceFile="..\PaletteInstallerCA\bin\$(var.Configuration)\PaletteInstallerCA.CA.dll" />

    <!-- Immediate CA -->
    <CustomAction Id="DeletePaletteUserImmediate" Return="check" BinaryKey="PaletteInstallerCA" DllEntry="DeletePaletteUser" />
    <CustomAction Id="SetupPaths" Return="check" BinaryKey="PaletteInstallerCA" DllEntry="SetupPaths"/>
    <CustomAction Id="CreatePaletteUser" Return="check" BinaryKey="PaletteInstallerCA" DllEntry="CreatePaletteUser" />
    <CustomAction Id="DisableUACImmediate" Property="DisableUAC" Value="INSTALLLOCATION=[INSTALLLOCATION]" />
    <CustomAction Id="EnableUACImmediate" Property="EnableUAC" Value="INSTALLLOCATION=[INSTALLLOCATION]" />
    <CustomAction Id="CreateIniFileImmediate" Property="CreateIniFile" Value="INSTALLLOCATION=[INSTALLLOCATION];SERVERNAME=[SERVERNAME];LICENSEKEY=[LICENSEKEY]" />
    <CustomAction Id="CreateEnvConfImmediate" Property="CreateEnvConf" Value="INSTALLLOCATION=[INSTALLLOCATION]" />
    <CustomAction Id="HidePaletteUserImmediate" Property="HidePaletteUser" Value="INSTALLLOCATION=[INSTALLLOCATION];"/>
    <CustomAction Id="StopPaletteServiceOnUninstall" Return="check" Execute="immediate" BinaryKey="PaletteInstallerCA" DllEntry="StopPaletteService" />
    <CustomAction Id="CleanupAfterUninstall" Return="check" Execute="immediate" BinaryKey="PaletteInstallerCA" DllEntry="CleanupAfterUninstall" />
    <CustomAction Id="CleanupOnRollback" Return="check" Execute="rollback" BinaryKey="PaletteInstallerCA" DllEntry="CleanupAfterUninstall" />
    
    <!-- Deferred CA -->    
    <CustomAction Id="DisableUAC" Execute="deferred" BinaryKey="PaletteInstallerCA" DllEntry="DisableUAC" Return="check" />
    <CustomAction Id="EnableUAC" Execute="deferred" BinaryKey="PaletteInstallerCA" DllEntry="EnableUAC" Return="check" />
    <CustomAction Id="CreateIniFile" Execute="deferred" BinaryKey="PaletteInstallerCA" DllEntry="CreateIniFile" Return="check" HideTarget="yes" Impersonate="no" />
    <CustomAction Id="CreateEnvConf" Execute="deferred" BinaryKey="PaletteInstallerCA" DllEntry="CreateEnvConf" Return="check" HideTarget="yes" Impersonate="no" />
    <CustomAction Id="HidePaletteUser" Execute="deferred" BinaryKey="PaletteInstallerCA" DllEntry="HidePaletteUser" Return="check" />
    
    <InstallExecuteSequence>
      <Custom Action="DeletePaletteUserImmediate" Before="LaunchConditions">NOT Installed</Custom>
      <Custom Action="CreatePaletteUser" After="DeletePaletteUserImmediate">NOT Installed</Custom>
      <Custom Action="SetupPaths" After="CreatePaletteUser">NOT Installed</Custom>
      <Custom Action="DisableUACImmediate" Sequence="5001">NOT Installed</Custom>
      <Custom Action="DisableUAC" Sequence="5002">NOT Installed</Custom>
      <Custom Action="CreateIniFileImmediate" Sequence="5004">NOT Installed</Custom>
      <Custom Action="CreateIniFile" Sequence="5005">NOT Installed</Custom>
      <Custom Action="CreateEnvConfImmediate" Sequence="5006">NOT Installed</Custom>
      <Custom Action="CreateEnvConf" Sequence="5007">NOT Installed</Custom>
      <Custom Action="HidePaletteUserImmediate" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="HidePaletteUser" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="EnableUACImmediate" Sequence="6401">NOT Installed</Custom>
      <Custom Action="EnableUAC" Sequence="6402">NOT Installed</Custom>
      <Custom Action="StopPaletteServiceOnUninstall" Before="LaunchConditions">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="CleanupAfterUninstall" After="InstallFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="CleanupOnRollback" After="InstallInitialize">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
	</Product>
</Wix>